body {
    background-color: #2D3047;
}
#time{
    color: #FFFDDF;
    font-family: cursive;
}
h1{
    color: #FFFDDF;
    font-family: cursive;
}
button{
    background-color: #b8b8b8;
    color:#FFFDDF;
    border: dashed, #556877;
    font-family:cursive;
}